<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @prototype.title %>
      </p>
      <%= link_to "by #{@prototype.user.name}", root_path, class: :prototype__user %>

      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば表示 %>
      <% if user_signed_in? && current_user == @prototype.user %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_prototype_path(@prototype), class: :prototype__btn %>
          <%= link_to "削除する", root_path, class: :prototype__btn %>
        </div>
      <% end %>

      <div class="prototype__image">
        <% if @prototype.image.attached? %>
          <%= image_tag @prototype.image, class: :prototype__img %>
        <% end %>
      </div>

      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @prototype.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @prototype.concept %>
          </p>
        </div>
      </div>

      <div class="prototype__comments">
        <%# コメント機能は後で実装 %>
      </div>
    </div>
  </div>
</main>